name: Deploy EC2 Instance

on:
  push:
    branches:
      - main
    inputs:
      region:
        description: 'Region'
        required: true
        default: 'us-east-1'
      

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Fetch Terraform modules
        run: terraform init

      - name: Run Terraform apply
        run: terraform apply -auto-approve
